/* You can add global styles to this file, and also import other style files */
 @import '~bootstrap/dist/css/bootstrap.min.css';
 @import "~ng-pick-datetime/assets/style/picker.min.css";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.global {
    white-space: normal;
    font-size: 10px;
   width: 100%;    
  }

  .header {      
    font-size: 10px;
    color: white;  
       
  }

  .headerrow {           
    background-color: rgb(102, 136, 230);
    height: 20px;
    width: 100%;  
              
  }

  .headerSum {      
    font-size: 10px;
    color: white;  
       
  }

  .headerrowSum {           
    background-color: rgb(102, 136, 230);
    height: 25px;
    width: 100%; 
    text-align: right;                    
  }

.cellSum {
    white-space: normal;
    font-size: 12px;
   width: 70%;
   font-style: inherit;    
  }